node_modules/
.next/
.vercel/
.env*
dist/
build/
out/
*.log
.DS_Store
.turbo/
coverage/
pnpm-lock.yaml
yarn.lock
package-lock.json
.env.local
.env.development.local
.env.test.local
.env.production.local
